@charset "utf-8";

h1{
  text-align: center;
}
html {
  background-color: rgb(255, 103, 0);
}

body > p {
 background-color: rgb(101, 101, 101);
font-family: Verdana, Geneva, sans-serif;
  font-size: 1.5em;
}
img{
width:30%;
  height:30%;
}
